*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#trafficLight{
    margin: 2rem auto;
    width: 10vw;
    aspect-ratio: 1/3;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#trafficLight > div{
    height: 25%;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
}