.recette{
    width: 80vw;
    margin: 2rem auto;
    .type{
        border-radius: 5px;
        border: 2px solid black;
        padding: 5px;
    }
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        .intro{
            grid-column: 1/3;
            display: grid;
            grid-template-columns: 1fr auto;
            margin: 1rem 0;
        }
        .image img{
            width: 100%;
            height: 100%;
            max-height: 250px;
            object-fit: contain;
        }
        div.details{
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 5px;
            li{
                margin-left: 2rem;
            }
        }
    }
    .steps{
        width: 80%;
        margin: auto;
        p{
            margin: 1rem auto;
            border: 1px solid black;
            padding: 1rem 5px;
            border-radius: 5px;
            line-height: 1.5em;
            .number{
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .recette .header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        .intro{
            grid-column: 1/2;
        }
    }
}
button
{
    float: right;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}