*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --text-color: black;
    --main-color: burlywood;
    --default-padding: 10px;
    --title-size: 24px;
    --text-size: 18px;
}
body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header
{
    background-color: aquamarine;
    padding: var(--default-padding);
}
header h1
{
    text-align: center;
}
main
{
    background-color: var(--main-color);
}
article
{
    width: 80%;
    padding: var(--default-padding);
    margin: 0 auto 20px;
}
article:last-of-type
{
    margin-bottom: 0;
}
article h2
{
    font-size: var(--title-size);
}
article p
{
    font-size: var(--text-size);
}
footer
{
    background-color: chartreuse;
    padding: var(--default-padding);
}
footer ul
{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (min-width: 900px) 
{
    body
    {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }
    header
    {
        grid-column: 1/3;
    }
    footer
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    footer ul
    {
        flex-direction: column;
        padding: var(--default-padding);
    }
}