*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{min-height: 100vh;}
.btns
{
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    font-size: 2rem;
}
.anime
{
    width: 100px; 
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    position: relative;
}
.b4
{
    opacity: 0;
    transition: opacity 1s linear;
}