
/* 
==========
Variables 
==========
*/
$clr-primary: #678e3e;
$clr-primary-light: #beed8c;
$clr-gray-1: #102a42;
$clr-gray-5: #617d98;
$clr-gray-10: #f1f5f8;
$clr-white: #fff;
$ff-primary: 'Catamaran', sans-serif;
$ff-secondary: 'Grand Hotel', cursive;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;