*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header
{
    text-align: center;
    background-color: cadetblue;
}
main{background-color: darksalmon;}
footer
{
    text-align: center;
    background-color: honeydew;
}
.bar
{
    height: 30px;
    position: relative;
    width: 100%;
    background-color: gray;
}
.progress
{
    background-color: rgb(11, 200, 11);
    width: 0;
    height: 100%;
    position: absolute;
    transition: width .3s;
}
/* Exercice */
#clock-container
{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(../../assets/images/cadran.jpg) no-repeat;
    background-size: 100%;
}
#heure, #minute, #seconde
{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    opacity: 0.8;
}
#heure
{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
}
#minute
{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
}
#seconde
{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
}