*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
}
.dark
{
    background-color: black;
}
.blue
{
    background-color: #211c5d;
}
p
{
    background-image: radial-gradient(closest-side,#fff 85%,transparent);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: -200px -200px;
    transition: background-size .3s;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin: auto;
    background-clip: text;
}
.blue p
{
    background-color: #ffffff63;
}